# Lazy Image Upsclaer configuration file
# --------------------------------------

# Output related parameter.
isRawImage = True
isExifImage = True
isChopsImage = False

# Image related parameter
JpgQuality = 70

# Tab related parameter.
isOpencvTab = True
isPilTab = True
isSuperResolutionTab = False
isSuperImageTab = False
isStableDiffusionTab = True

# Safetensor related parameter.
SafeTensor = False 
