# Lazy Image Upscaler configuration file
# --------------------------------------

# Output related parameter.
isRawImage = False
isExifImage = True
isChopsImage = False

# Image related parameter
JpgQuality = 70

# Tab related parameter.
isOpencvTab = True
isPilTab = True
isScikitTab = True
isSuperResolutionTab = True
isSuperImageTab = True
isStableDiffusionTab = True

# Safetensor related parameter.
SafeTensor = False 

Scikit related parameter.
AntiAliasing = False
